html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


body {
  width: 1200px;
  margin: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-content {
  position: relative;
}

.main-header {
  position: relative;
}

.index-logo {
  position: absolute;
  z-index: 2;
  left: 530px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/background-sedona.jpg") no-repeat;
  background-position: 0px -56px;
  background-color: lightblue;
  text-align: center;
  line-height: 26px;
}

.welcome-sedona-picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 76px;
}

.promo h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding-top: 61px;
  padding-bottom: 27px;
  padding-left: 380px;
  padding-right: 380px;
}

.promo p {
  color: #333;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  margin: 0;
  padding-bottom: 50px;
}

.promo-description {
  position: relative;
  width: auto;
  background-color: #fff;
  line-height: 26px;
}

.polygon-index {
  width: 1200px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  margin-top: 20px;
}

.reasons-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.main-nav-list,
.reason-list,
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons {
  text-align: center;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  list-style: none;
  margin:0;
  padding:0;
  z-index: 2;
}

.reasons-list li
{
  width: 400px;
}

.reasons-list .second-reason-picture,
.reasons-list .first-reason-picture {
  width: 800px;
}

.first-reason {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 400px;
  background-color: #81b3d2;
  color: #fff;
}

.second-reason {
  background-color: #81b3d2;
  color: #fff;
}

.reasons-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.reason-item-1,
.reason-item-2,
.reason-item-3 {
  background-color: #fff;
}

.searching-hotel {
  position: relative;
  text-align: center;
  background-color: #fff;
  z-index: 2;
}

.searching-hotel>p:first-child {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-top: 50px;
}

.searching-hotel>p:nth-child(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  font-weight: normal;
  padding-top: 10px;
}

.searching-hotel-link {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 47px;
  background-color: #766357;
  color: #fff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.searching-hotel-link:hover {
  background-color: #604e43;
}

.searching-hotel-link:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.modal-form {
  display: none;
}

.appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 316px;
  background-color: #fff;
  width: 568px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  z-index: 1;
}

.appointment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.appointment-form input[type="text"] {
  width: 346px;
  height: 38px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

.appointment-form .appointment-date-in {
  padding-left: 11px;
  margin-left: 23px;
}

.appointment-form .appointment-date-out {
  padding-left: 12px;
  margin-left: 19px;
}

.quantity input[type="text"] {
  position: relative;
  width: 38px;
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  margin: 0;
}

.quantity .plus-adult,
.quantity .minus-adult {
  display: block;
  width: 38px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #a9a9a9;
}

.quantity .btn-minus,
.quantity .btn-plus {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
}

.btn-minus::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-plus::after,
.btn-plus::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-plus::after {
  top: 18px;
  left: 14px;
}

.btn-plus::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 18px;
  left: 14px;
}

.btn-minus:hover::after,
.btn-minus:hover::before,
.btn-plus:hover::after,
.btn-plus:hover::before {
  background-color: #000;
}

.btn-minus:active::after,
.btn-minus:active::before,
.btn-plus:active::after,
.btn-plus:active::before {
  background-color: #81b3d2;
}

.adults-counter,
.children-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adults-counter {
  padding-left: 40px;
}

.children-counter {
  padding-left: 26px;
}

@-webkit-keyframes descent {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes descent {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.searching-hotel-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: descent 0.6s;
          animation: descent 0.6s;
}

.searching-hotel-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.quantity .appointment-item:first-child {
  padding-left: 55px;
}

.quantity .appointment-item:nth-child(2) {
  padding-right: 55px;
}

.appointment-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appointment-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 42px;
  padding-left: 57px;
}

.appointment-form button[type="submit"] {
  width: 458px;
  height: 58px;
  font: inherit;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 55px;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
}

.appointment-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.appointment-form button[type="submit"]:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.appointment-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.appointment-form input[type="text"]:focus {
  background-color: #fff;
  outline: none;
  border: 2px solid #e5e5e5;
}

.appointment-form .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
}

/*.appointment-date-icon {
  background: url("../img/calendar.svg") 315px center no-repeat;
}
*/
.apointment-form-calendar {
  fill: #cacaca;
}

.apointment-form-calendar:hover {
  fill: #000;
}

.apointment-form-calendar:active {
  fill: #81b3d2;
}

li.natural-city,
li.devil-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  background-color: #81b3d2;
  color: #fff;
}

li.devil-bridge {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

li.reason-6,
li.reason-7,
li.reason-8 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #fff;
}

.reason-6 .reasons-title,
.reason-7 .reasons-title,
.reason-8 .reasons-title {
  margin: 0;
  padding-top: 161px;
}

.reasons-title {
  margin: 0;
  padding-top: 47px;
}

.reason-icon {
  padding-top: 60px;
}

.reason-6 .reason-text,
.reason-7 .reason-text,
.reason-8 .reason-text {
  padding-top: 23px;
  padding-bottom: 82px;
  margin: 0;
}

.reason-text-middle {
  padding-top: 24px;
  padding-right: 58px;
  padding-left: 58px;
  margin: 0;
}

.reason-text-bottom {
  margin: 0;
  padding-top: 21px;
}

.reason-1 .reason-text-bottom {
    padding-left: 60px;
    padding-right: 60px;
}

.reason-2 .reason-text-bottom {
    padding-left: 47px;
    padding-right: 47px;
}

.reason-2 .reasons-title {
    padding-left: 125px;
    padding-right: 124px;
}

.reason-3 .reasons-title {
  padding-left: 142px;
  padding-right: 141px;
}

.reason-4 .reasons-title {
  padding-left: 150px;
  padding-right: 150px;
}

.reason-5 .reasons-title {
  padding-left: 150px;
  padding-right: 150px;
}

.reason-3 .reason-text-bottom {
  padding-left: 96px;
  padding-right: 96px;
  padding-bottom: 59px;
}

.reason-4 .reason-text-bottom {
  padding-left: 69px;
  padding-right: 70px;
  padding-bottom: 59px;
}

.reason-5 .reason-text-bottom {
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 59px;
}

.reason-6 .reason-text {
  padding-left: 73px;
  padding-right: 75px;
}
.reason-7 .reason-text {
  padding-left: 57px;
  padding-right: 58px;
}
.reason-8 .reason-text {
  padding-left: 64px;
  padding-right: 64px;
}



li.reason-3,
li.reason-4,
li.reason-5 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  background-color: #eee;
}


.reason-1-picture,
.reason-2-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reason-1,
.reason-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.reasons-item.reason-6 {
  background-image: url("../img/reason-icon1.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.reasons-item.reason-7 {
  background-image: url("../img/reason-icon3.svg");
  background-repeat: no-repeat;
  background-position: 50% 61px;
}

.reasons-item.reason-8 {
  background-image: url("../img/reason-icon2.svg");
  background-repeat: no-repeat;
  background-position: 50% 56px;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
}

.main-nav-item {
  width: 239px;
  padding-top: 14px;
}

.main-nav-link:hover {
  color: #81b3d2;
}

.main-nav-link:active {
  color: #cacaca;
}

.main-nav-item:nth-child(1),
.main-nav-item:nth-child(2) {
  text-align: left;
}

.main-nav-item:nth-child(3),
.main-nav-item:nth-child(4) {
  text-align: right;
}

.main-nav-item:nth-child(1) {
  padding-left: 47px;
}

.main-nav-item:nth-child(2) {
  margin-right: 47px;
}

.main-nav-item:nth-child(3) {
    padding-right: 4px;
}

.main-nav-item:nth-child(4) {
  padding-right: 47px;
}


.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form legend {
  padding-top: 27px;
  font-size: 16px;
  line-height: 21px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: lightblue;
  background-image: url("../img/filter_background.jpg");
  background-repeat: no-repeat;
  background-position-y: -55px;

}

.filter-block {
    padding-left: 73px;
}

.filter-block:nth-child(2) fieldset {
  margin-left: 43px;
}

.filter-block:nth-child(2) input[type="checkbox"] + label {
  padding-left: 42px;
}

.filter-range {
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: 72px;
  padding-top: 26px;
}

.filter-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.filter-form-item
{
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-top: 24px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1200px;
  color: #fff;
}

.filter-form button[type="submit"] {
  width: 137px;
  height: 36px;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.searching-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searching-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 73px;
  border-bottom: 1px solid #e5e5e5;
}

.rating-block {
  margin-left: auto;
  margin-right: 73px;
}

.searching-results-img,
.result-block,
.rating-block {
  padding-bottom: 30px;
}

.result-block {
  padding-left: 30px;
}

.searching-results-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating-item {
  width: 17px;
  height: 18px;
  margin-left: 7px;
  font-size: 0;
  background: url("../img/star.svg");
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 111px;
  margin-top: auto;
  margin-left: auto;
  padding-left: 4px;
  padding-bottom: 2px;
  background-color: #f2f2f2;
  color: #666666;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.sorting,
.searching-results
{
  background-color: #fff;
}

.sorting b {
  min-width: 189px;
  font-size: 21px;
  line-height: 26px;
  padding-left: 72px;
  padding-top: 20px;
}

.sorting h3,
.sorting-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-left: 47px;
  margin-right: 37px;
  padding-top: 24px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 4px;
  padding-top: 23px;
}

.sorting-updown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  margin-left: auto;
  margin-right: 64px;
}

.sorting-updown-item {
  margin-right: 10px;
}

.sorting-item {
  margin-right: 32px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.sorting-link {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-link:hover {
  color: #8bb9d5;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-link:active {
  color: #000;
  border-bottom: none;
}

.sorting-up-svg,
.sorting-down-svg {
  fill: #cacaca;
}

.sorting-up-svg:hover,
.sorting-down-svg:hover {
  fill: #2f2b2c;
}

.sorting-up-svg:active,
.sorting-down-svg:active {
  fill: #81b3d2;
}

.searching-results-title {
  font-size: 21px;
  line-height: 15px;
  margin: 0;
}

.searching-results-price {
  margin-top: 11px;
}

.searching-results-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
}

.hotel-price {
  display: inline-block;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-right: 40px;
  vertical-align: middle;
}

.btn-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin-right: 5px;
}

.btn-detail:hover {
  background-color: #669ec0;
}

.btn-detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.btn-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #766357;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}

.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255,255,255,0.9);
}

.main-footer::after {
    content:'';
    min-height:inherit;
    font-size:0;
}

.main-footer-index {
  position: relative;
  margin-top: -127px;
}

.footer-social-list {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5px;
}

.footer-social-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
  padding-top: 1px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  opacity: 0.3;
}

.main-footer .main-footer-visit {
  font-size: 21px;
  line-height: 26px;
}

.main-footer .main-footer-htmlacademy {
  font-size: 14px;
  line-height: 26px;
}

.main-footer .main-footer-visit {
  font-size: 21px;
  line-height: 26px;
}

.main-footer .main-footer-htmlacademy {
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 103px;
}


.footer-visit {
  display: block;
  width: 400px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-copyright span {
  padding-top: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.footer-logo {
  width: 115px;
  height: 41px;
}

.footer-copyright-link {
    padding-top: 9px;
    margin-left: 8px;
}

.copyright-svg:hover path,
.copyright-svg:hover rect {
  fill: #81b3d2;
}

.copyright-svg:active path,
.copyright-svg:active rect {
  fill: #bdbbbc;
}

.searching-results-link:hover {
  color: #81b3d2;
}

.searching-results-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-range {
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  padding-top: 1px;
  padding-left: 1px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  font-weight: normal;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding-bottom: 15px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  margin-left: 85px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-form input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 38px;
  padding-top: 1px;
  line-height: 20px;
  cursor: pointer;
  vertical-align: top;
}

.filter-form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-form input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-form input[type="checkbox"] + label:hover::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-form input[type="checkbox"]:disabled + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-form input[type="checkbox"]:focus + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  outline: 2px blue;
}

.filter-form input[type="checkbox"]:checked + label:hover::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-form input[type="checkbox"]:checked:disabled + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-nav-link--active {
  color: #766357;
}

.sorting-link--active {
  color: #766357;
}

.sorting-up-svg--active {
  fill: #81b3d2;
}

.sorting-updown-link {
  padding: 0;
  background: none;
  border: none;
}

.appointment-button-calendar {
  position: absolute;
  top: 8px;
  left: 426px;
  padding: 0px;
  border: none;
  background: none;
}

.appointment-date-in::-webkit-input-placeholder {
  color: #000;
}
.appointment-date-in:-ms-input-placeholder {
  color: #000;
}
.appointment-date-in::-ms-input-placeholder {
  color: #000;
}
.appointment-date-in::placeholder {
  color: #000;
}

.maps {
  background: url("../img/map.jpg") no-repeat;
  background-color: #eee;
}

.yandex-interactive-map {
  border: 0;
}
