body {
  width: 1280px;
  margin: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  visibility: hidden;
  font-size: 0;
  height:0;

}

a {
  text-decoration: none;
  color: #000;
}

.promo {
  display: flex;
  flex-direction: column-reverse;
  width: auto;
  height: 717px;
  background: url("../img/background-sedona.jpg"),
              url("../img/welcome-sedona.svg");
  text-align: center;
  line-height: 26px;
}

/* .promo-welcome {
  width: 459px;
  height: 353px;
  background: url("../img/welcome-sedona.svg");
}
*/

.promo h2 {
  font-size: 21px;
}

.promo p {
  color: #333;
  font-size: 14px;
  color: #333;
}

.promo-description {
  width: auto;
  height: 216px;
  background-color: #fff;
  line-height: 26px;
}

.promo-description::before {
  content:"";
  width: 1200px;
  height: 59px;
  background-image: url("../img/polygon.svgss");

}

.main-nav-list,
.reason-list,
.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons {
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin:0;
  padding:0;
}

.reasons-list li
 {
  width: 400px;
}

.reasons-list .second-reason-picture,
.reasons-list .first-reason-picture {
  width: 800px;
}

.first-reason {
  order: 1;
  width: 400px;
  background-color: #81b3d2;
  color: #fff;
}

.second-reason {
  background-color: #81b3d2;
  color: #fff;
}

.first-reason p,
.second-reason p,
.third-reason p,
.fourth-reason p,
.fifth-reason p{
  font-size: 14px;
  line-height: 21px;
}

.searching-hotel {
  text-align: center;
  background-color: #fff;
}

.searching-hotel>p:first-child {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.searching-hotel-link {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  padding-top: 35px;
  background-color: #766357;
  color: #fff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.searching-hotel>p:nth-child(2) {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.third-reason,
.fourth-reason,
.fifth-reason {
  background-color: #eee;
}

.first-reason-picture {
  order: 2;
  flex-grow: 1;
}

.reason-item-1 {
  order: 3;
}

.reason-item-2 {
  order: 4;
}

.reason-item-3 {
  order: 5;
}

.second-reason-picture {
  order: 6;
  flex-grow: 1;
}

.second-reason {
  order: 7;
  background-color: #81b3d2;
}

.third-reason {
  order: 8;
}

.fourth-reason {
  order: 9;
}

.fifth-reason {
  order: 10;
}

.main-nav-list {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;

}

.main-nav-item:not(.index-logo) {
  padding-top: 22px;
}
